<!DOCTYPE html>
<html lang="en">

  <!-- Head --> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>chromatic-universe william k. johnson consulting principal software engineer</title>
 |
    <!-- based on Carousel Template for Bootstrap -->
    <!-- CSS -->
    <link rel="stylesheet" href="/static/build/bootstrap.css">
    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Google fonts https://www.google.com/fonts --> 
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Bitter|Open+Sans|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

    <!-- Add more CSS for individual page here -->
    {% block extracss %}

    {% endblock %}

  </head>

  <!-- Body --> 
  <body>

    <!-- NAVBAR
    ================================================== -->

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" border="0" top="0">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" border="0" top="0">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">william k. johnson - consulting principal software engineer</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href=/about>about</a>
                    </li>
                    <li>
                        <a href="/services">services</a>
                    </li>
                    <li>
                        <a href="/contact">contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/portfolio/c++">c++</a>
                            </li>
                            <li>
                                <a href="/portfolio/python">python</a>
                            </li>
                            <li>
                             <a href="/portfolio/objectpascal">delphi/objectpascal</a>
                            </li>
                            <li>
                                <a href="/portfolio/c99">c99</a>
                            </li>
                            <li>
                                <a href="https:/github.com/chromatic-universe">github</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">cci-dev<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/domain/default">cci-dev-1</a>
                            </li>
                            <li>
                                <a href="/domain/aws2">cci-dev-2</a>
                            </li>
                             <li>
                                <a href="/domain/aws3">cci-dev-3</a>
                            </li>
                            <li>
                                <a href="http://ec2-52-36-242-55.us-west-2.compute.amazonaws.com:8080/login.jsp?os_destination=%2Fdefault.jsp">jira</a>
                            </li>
                            <li>
                                <a href="http://chromatic-univer.byethost12.com/wp/">chromatic universe blog</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">work<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/faq">faq</a>
                            </li>
                            <li>
                                <a href="/customer_stream">customer stream</a>
                            </li>
                            <li>
                                <a href="/pricing">pricing table</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Header -->
      <div id="template-header">
        {% block header %}
        {% endblock %}
      </div>

      <!-- START THE FEATURETTES -->

      <!-- Header -->
      <div id="template-header-2">
        {% block header2 %}
        {% endblock %}
      </div>

      <!-- Content -->
      <div id="template-content">
        {% block content %}
        {% endblock %}
      </div>

      <!-- /END THE FEATURETTES -->

      <!-- FOOTER -->


    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->



    <!-- Add more JS for individual page here -->
    {% block extrajs %}
    {% endblock %}

  </body>

</html>
