<p>i first began my c++ journey with the venerable visual c++ 1.5 way back in the day(as they say). as in most things ,
Microsoft was ambivalent: most of its products and the winapi itself were written in C89 and it wanted to maintain a generic code baseline.
even the microsoft foundation classes(mfc) , which are remarkably still alive , were written in straight c and wrapped with a c++
facade-which accounts for the bizarre event dispatching mechanisms. Even more remarkably , microsoft has never adopted the c99 specification ,
which makes c applications for Windows as decrepit as quattro pro.stangely , this retarded microsoft;s adherence to
the c++ standard in ways we won't go into here.</p>
<p>the gnu c and g++ compilers at the time were light years ahead , although compiler file formats were not as
    universal as they are now. but microsoft actually showed constant improvement in the compiler game , somewhat
    mollified by the companies insistence on non-standard compliant binary hijinks. i actually started out first in c
    and c++ on the microsoft and intel compilers and several years later picked up the gnu gcc toolchain. this
    historical perspective has actually served me well in delivering engineering services in a number of ways....</p>