alabaster==0.7.8
Babel==2.3.4
blueprint==3.4.2
cycler==0.9.0
decorator==3.4.2
docutils==0.12
enum34==1.1.2
Flask==0.10.1
Flask-WTF==0.12
Foundations==2.1.0
idna==2.0
imagesize==0.7.1
ipaddress==1.0.16
itsdangerous==0.24
Jinja2==2.8
linecache2==1.0.0
Manager==2.0.5
MarkupSafe==0.23
matplotlib==1.5.1
networkx==1.10rc2
numexpr==2.4.3
numpy==1.9.2
Oncilla==0.1.0
pyasn1==0.1.9
pycparser==2.14
Pygments==2.1.3
pyparsing==2.1.0
python-dateutil==2.4.2
pytz==2015.7
requests==2.9.1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.4.1
sphinx-rtd-theme==0.1.9
traceback2==1.4.0
unittest2==1.1.0
Werkzeug==0.10.4
WTForms==2.0.2
